<!-- [ng2-loading]="showSpinner" -->


<div class="card" [ng2-loading]="showSpinner" style="height: 100%;" >

  <a
    #urlFileDownload
    *ngIf="fileUrl != undefined"
    id="downloadFile"
    [href]="fileUrl"
    download="{{fileName}}"
  ></a>
  <div class="card-body">
    <form  [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" autocomplete="off" pInputText  formControlName="documentCard" />
            <label for="float-input">Número de documento</label>
          </span>
          <p class="form-control-feedback" *ngIf="!form.controls['documentCard'].valid&&form.controls['documentCard'].dirty">El documento es
            requerido</p>
        </div>
        <div class="col-md-6">
          <p-fileUpload
            #fileUpload
            name="demo[]"
            (uploadHandler)="myUploader($event)"
            customUpload="true"
            (onUpload)="onUpload($event, forms)"
            multiple="false"
            chooseLabel="Seleccionar archivo"
            invalidFileTypeMessageSummary="Solo se permiten archivos .txt"
            uploadLabel="Guardar"
            cancelLabel="Cancelar"
            accept=".txt"
          >
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length" class="fa fa-file-text-o">
                <li
                  *ngFor="let file of uploadedFiles"
                  class="fa fa-file-text-o"
                >
                  {{ file.name }} - {{ file.size }} bytes
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </form>
  </div>
</div>
